        table {
            border-collapse: collapse;
            width: 70%;
            margin: auto;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }

        th {
            background: #eee;
        }

        header {
            background-color: #008082;
            color: white;
            padding: 10px;
            text-align: center;
        }

        header nav a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            font-weight: bold;
        }

        header nav a:hover {
            text-decoration: underline;
        }

        footer {
            background-color: #008279;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }